* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background: url(https://img.freepik.com/free-photo/3d-render-display-background-with-grunge-smoky-room-interior-with-spotlights_1048-14520.jpg?size=626&ext=jpg) no-repeat center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: rgb(230, 230, 230);
}

#title {
    background-color: rgb(51, 51, 51);
    height: 100px;
}

#images {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: max-content;
    height: 300px;
    border: 1px #aaa solid;
    text-align: center;
    vertical-align: middle;
}

img {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 300px;
}

.twoimg {
    display: flex;
    justify-content: center;
}

a {
    color: aliceblue !important;
    font-weight: bold;
    text-decoration: none;
}